#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
POSTGRES_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
#@ Host Config
#-  - TZ -
#-    The timezone.
TZ=Etc/UTC
#@ Resource Limits
#-  - POSTGRES_MEMLIMIT -
#-    Limit Postgres container memory.
POSTGRES_MEMLIMIT=1g
#@ Container Paths
#-  - POSTGRES_DATA_PATH -
#-    The path to the Postgres data directory
POSTGRES_DATA_PATH=./appdata/postgres
#@ Postgres Config
#-  - POSTGRES_USER -
#-    The username for Postgres
POSTGRES_USER=openobserve
#-  - POSTGRES_PASSWORD -
#-    The password for Postgres
POSTGRES_PASSWORD=supersecret
#-  - POSTGRES_DB -
#-    The database name for OpenObserve metadata
POSTGRES_DB=openobserve
#-  - POSTGRES_PUBLISHED_PORT -
#-    The Postgres port published to the host
POSTGRES_PUBLISHED_PORT=5432
