#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
MINIO_PLACEMENT_CONSTRAINT=engine.labels.node-type==swarm-monitor
#@ Host Config
#-  - PUID -
#-    User to run services as.
PUID=1000
#-  - PGID -
#-    Group to run services as.
PGID=1000
#@ Traefik Config
#-  - MINIO_TRAEFIK_DOMAIN -
#-    The domain where MinIO is accessed.
MINIO_TRAEFIK_DOMAIN=minio.local
#@ Container Paths
#-  - MINIO_DATA_PATH -
#-    The path to the MinIO data directory
MINIO_DATA_PATH=./appdata/minio
#@ MinIO Config
#-  - MINIO_ROOT_USER -
#-    The username for MinIO
MINIO_ROOT_USER=admin
#-  - MINIO_ROOT_PASSWORD -
#-    The password for MinIO
MINIO_ROOT_PASSWORD=supersecret
#-  - MINIO_API_PORT -
#-    The MinIO API port
MINIO_API_PORT=9000
#-  - MINIO_HTTP_PORT -
#-    The MinIO HTTP Console port
MINIO_HTTP_PORT=9001
